@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&family=Golos+Text:wght@400;500;600;700;800;900&display=swap');
@import './Components/styles/buttons.css';
@import './Components/styles/nav.css';
@import './Components/styles/accountSummary.css';
html {
    font-size: 16px;
}

body,
body * {
    background-color: #4a1e7d;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Crimson Text', serif;
    font-family: 'Golos Text', sans-serif;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #4a1e7d;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    color: white;
    padding: 20px;
}

h2 {
    font-size: 1.5rem !important;
    margin-bottom: 10px;
}
h2 + div {
    font-weight: bold;
}

h1,
h2,
p,
a,
span {
    color: #fff;
}

/* styling form */

form {
    border: 5px solid #ffa56b;
    border-radius: 20px;
    padding: 20px 105px;
    text-align: right;
}

form div {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

input[type='text'] {
    width: 300px;
    padding: 5px;
    background: #c1a0e8;
    color: #000a;
    border: solid 2px #220d39;
    border-radius: 5px;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    font-size: 1rem;
}
input[type='text']:focus {
    border: 1px solid #9c66da;
    outline: none;
    outline-offset: 5px;
}

label {
    padding-right: 10px;
    width: 85px;
}
span {
    font-weight: bold;
    color: white;
}

/* Styling list items */
.accounts-container {
    text-align: right;
    width: 100%;
}

.filter {
    margin-bottom: 20px;
}

.filter * {
    font-size: 0.8rem;
}

p.none {
    text-align: center !important;
    background: none;
    font-size: 0.67rem !important;
}

select {
    background-color: #c1a0e8;
    color: white;
    height: 20px;
    outline: none;
}

.accounts-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.accounts > * {
    border: 5px solid #ffa56b;
    border-radius: 20px;
    /* background: linear-gradient(
        90deg,
        hsl(227, 27%, 25%) 0%,
        hsl(227, 27%, 35%) 100%
    ); */
}
.accounts > div {
    padding: 20px;
}
.accounts > div {
    border-radius: 20px;
    margin: 40px;
}

/* .accounts > :nth-child(2n) {
    background: linear-gradient(
        90deg,
        hsl(215, 54%, 25%) 0%,
        hsl(215, 54%, 35%) 100%
    );
} */
.accounts p {
    font-size: 1rem;
    text-align: left;
}

.info {
    text-align: left;
    text-transform: capitalize;
    max-width: 50%;
}
.transfers {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.transfers button {
    display: inline-block;
}

input[type='number'] {
    font-size: 0.84rem;
    line-height: 1.5;
    padding: 0 4px;
    width: 170px;
}
/* modal style */
.hidden {
    display: none;
}
.visible {
    display: block;
}

.app-modal {
    width: 300px;
    height: 100px;
    display: block;
    position: fixed;
    top: 10%;
    right: 1%;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: hsla(0, 0%, 0%, 90%); */
}
.app-modal > p {
    padding: 15px;
    border-radius: 0.5em;
    text-align: center;
    margin-top: 20px;
}
.modal-success {
    background-color: #3e9292ff;
}
.modal-error {
    background-color: #f03183ff;
}

/* Login Style */
.login {
    border: 5px solid #ffa56b;
    border-radius: 20px;
    padding: 20px 105px;
    text-align: center;
}

input[type='password'] {
    width: 300px;
    padding: 5px;
    background: #c1a0e8;
    color: #000a;
    border: solid 2px #220d39;
    border-radius: 5px;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    font-size: 1rem;
}
input[type='password']:focus {
    border: 1px solid #9c66da;
    outline: none;
    outline-offset: 5px;
}

.login .button {
    margin: 10px 0 0 210px;
}

@media (min-width: 576px) {
    html {
        font-size: 18px;
    }
    .accounts-container {
        width: 80%;
        max-width: 600px;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 20px;
    }
    .accounts-container {
        width: 80%;
        max-width: 600px;
    }
}
